/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'TABIX_TABIX' {
        ext.prefix = { "${filename}" }
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        ext.prefix = { "${meta.name}" }
    }

    withName: 'BCFTOOLS_CONCAT' {
        memory     = 8.GB
        ext.prefix = { "${meta.label}.concat" }
        ext.args   = { " --allow-overlaps --output-type z --write-index=tbi" }
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/concat/" },
            ]
    }

    withName: 'BCFTOOLS_REHEADER' {
        beforeScript = { "echo ${meta.label} > ${meta.label}.txt" }
        ext.args     = { "--samples ${meta.label}.txt" }
        ext.prefix   = { "${meta.label}.reheader" }
        ext.args2    = { "--output-type z --write-index=tbi" }
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/reheader/" },
            ]
    }

    withName: 'BCFTOOLS_MERGE' {
        memory     = 8.GB
        ext.args   = { "--force-samples --output-type z --write-index=tbi" }
        ext.prefix = { "${meta.id}.merge" }
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/merge/" },
            ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
